@import url('https://fonts.googleapis.com/css2?family=Cincel&family=DM+Sans&family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@layer utilities {
  .animate-zoom {
    animation: zoom 15s ease-in-out infinite;
  }
}
